* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: poppins;
    margin-left: 0.2cm;
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
   
}
.formacao{
    width:50%;
}
.experiencia{
    width: 50%;
}
.habilidades{
    display: flex;
    flex-direction: row;
    justify-content:left;
}
.soft{
    margin-left:1.5cm;
}
dd{
    margin-inline-start: 20px;
}
li{
    list-style: none;
    margin-inline-start: 20px;
}
.soft li{
}
.soft li:nth-child(1)::after{
    content:" ◆◆◆◆◆";
}
.soft li:nth-child(2)::after{
    content:" ◆◆◆◆";
}
.soft li:nth-child(3)::after{
    content:" ◆◆◆";
}
.soft li:nth-child(4)::after{
    content:" ◆◆◆◆";
}
.soft li:nth-child(5)::after{
    content:" ◆◆◆◆◆";
}
/* .formacao > h2::after{
    content: "🎓 ";

}
.habilidades > h2::after{
    content:"🧠";
}
.experiencia > h2::after{
    content:"💼";
} */